<h4 mat-dialog-title>Land Master </h4>
  <div mat-dialog-content>
      <form class="example-form"[formGroup]="landForm" (ngSubmit)="onFormSubmit(landForm.value)">
      <div class="example-container">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Khasra No" formControlName="khasraNumber" [(ngModel)]="land.khasraNumber">
        </mat-form-field>
        <mat-error>  
          <span *ngIf="!landForm.get('khasraNumber').valid && landForm.get('khasraNumber').touched">Please enter khasra no</span>  
        </mat-error>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Land Amount" formControlName="landAmount" [(ngModel)]="land.landAmount">
      </mat-form-field>
      <mat-error>  
          <span *ngIf="!landForm.get('landAmount').valid && landForm.get('landAmount').touched">Please enter lan amount</span>  
      </mat-error>

        <mat-form-field>
          <mat-label>Select Asociacted Farmer</mat-label>
          <mat-select>
            <mat-option *ngFor="let farmer of farmerList" [value]="farmer.farmerName">
              {{farmer.farmerName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-grid-list cols="3" rowHeight="10em">
            <mat-grid-tile>
              <button type="button" mat-raised-button color="primary" [disabled]="!landForm.dirty || !landForm.valid" (click)="submitForm();">Submit</button>
            </mat-grid-tile>
            <mat-grid-tile>  
              <button mat-raised-button color="warn" type="reset">Clear</button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button type="button" mat-raised-button color="accent" (click)="closePopup();">Close</button>
            </mat-grid-tile>
        </mat-grid-list>
        </div>
      </form>
  </div>