<h1 mat-dialog-title>Block Master </h1>
  <div mat-dialog-content>
  <form class="example-form"[formGroup]="blockForm" (ngSubmit)="onFormSubmit(blockForm.value)">
  <div class="example-container">
    <mat-form-field class="example-full-width">
        <mat-label>Firm Name</mat-label>
        <mat-select formControlName="firmId" (ngModelChange)="onChange($event,'property')" [(ngModel)] = "block.firmId">
          <mat-option *ngFor="let firm of firmList" [value]="firm.code+'|'+firm.value">
            {{firm.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error>  
        <span *ngIf="!blockForm.get('firmId').valid && blockForm.get('firmId').touched">Please select firm</span>  
      </mat-error>

    <mat-form-field class="example-full-width">
        <mat-label>Property Name</mat-label>
        <mat-select formControlName="propertyId" [(ngModel)] = "block.propertyId">
          <mat-option *ngFor="let property of propertyList" [value]="property.code+'|'+property.value">
            {{property.value}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-error>  
      <span *ngIf="!blockForm.get('propertyId').valid && blockForm.get('propertyId').touched">Please select property</span>  
    </mat-error>

      <mat-form-field class="example-full-width">
        <mat-label>Type</mat-label>
        <mat-select formControlName="propertyTypeId" [(ngModel)] = "block.propertyTypeId">
          <mat-option *ngFor="let type of propertyTypeList" [value]="type.code+'|'+type.value">
            {{type.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error>  
        <span *ngIf="!blockForm.get('propertyTypeId').valid && blockForm.get('propertyTypeId').touched">Please select property type</span>  
      </mat-error>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Block Name" formControlName="blockName" [(ngModel)] = "block.block">
    </mat-form-field>
    <mat-error>  
      <span *ngIf="!blockForm.get('blockName').valid && blockForm.get('blockName').touched">Please enter block name</span>  
    </mat-error>

    <mat-grid-list cols="3" rowHeight="10em">
        <mat-grid-tile>
          <button type="button" mat-raised-button color="primary" [disabled]="!blockForm.dirty || !blockForm.valid" (click)="submitForm();">Submit</button>
        </mat-grid-tile>
        <mat-grid-tile>  
          <button mat-raised-button color="warn" type="reset">Clear</button>
        </mat-grid-tile>
        <mat-grid-tile>
          <button type="button" mat-raised-button color="accent" (click)="closePopup();">Close</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>
</form>

  </div>