<h4 mat-dialog-title> Customer Payment Details </h4>
  <div mat-dialog-content>
      <form class="example-form" [formGroup]="customerInstallmentDetailsForm" (ngSubmit)="onFormSubmit(customerInstallmentDetailsForm.value)">
      <div class="example-container">
        <mat-form-field class="example-full-width">        
            <input matInput placeholder="Receipt Number" formControlName="receiptNo" [(ngModel)]="customerInstallment.receiptNo">
        </mat-form-field>
        <mat-form-field class="example-full-width">        
          <input matInput placeholder="Installment" formControlName="installmentAmount" [(ngModel)]="customerInstallment.installmentAmount">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Pending Amount" disabled = true formControlName="pendingAmount" [(ngModel)]="customerInstallment.pendingAmount">
          </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Interest" formControlName="interest" [(ngModel)]="customerInstallment.interest">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Interest WaiveOff" formControlName="waiveOff" [(ngModel)]="customerInstallment.interestWaiveOff">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Total Amount" formControlName="totalPayment" [(ngModel)]="customerInstallment.totalAmount">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Payment Date" formControlName="paymentDate" [(ngModel)]="customerInstallment.paymentDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Payment Amount" formControlName="amount" [(ngModel)]="customerInstallment.amount">
        </mat-form-field>
              <mat-form-field class="example-full-width">
          <mat-label>Payment Mode</mat-label>
          <mat-select formControlName="paymentMode" [(ngModel)]="customerInstallment.paymentMode">
            <mat-option value="Cheque">Cheque</mat-option>
            <mat-option value="Cash">Cash</mat-option>
            <mat-option value="DD">DD</mat-option>
            <mat-option value="NEFT">RTGS/NEFT</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf = "customerInstallment.paymentMode == 'Cheque' || customerInstallment.paymentMode == 'DD' || customerInstallment.paymentMode == 'NEFT'">
          <input matInput placeholder="Bank Name" formControlName="bankName" [(ngModel)]="customerInstallment.bankName">
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf = "customerInstallment.paymentMode == 'Cheque' || customerInstallment.paymentMode == 'DD' || customerInstallment.paymentMode == 'NEFT'">
          <input matInput placeholder="Cheque No/DD no./Transaction Id " formControlName="transactionId" [(ngModel)]="customerInstallment.transactionId">
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf = "customerInstallment.paymentMode == 'Cheque' || customerInstallment.paymentMode == 'DD' || customerInstallment.paymentMode == 'NEFT'">
          <input matInput [matDatepicker]="picker" placeholder="Cheque Date/DD Date/Transaction Date" formControlName="transactionDate" [(ngModel)]="customerInstallment.transactionDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-grid-list cols="3" rowHeight="10em">
            <mat-grid-tile>
              <!--[disabled]="!customerInstallmentDetailsForm.dirty || !customerInstallmentDetailsForm.valid"-->
              <button type="submit" mat-raised-button color="primary" >Submit</button>
            </mat-grid-tile>
            <mat-grid-tile>  
              <button mat-raised-button color="warn" type="reset">Clear</button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button type="button" mat-raised-button color="accent" (click)="closePopup();">Close</button>
            </mat-grid-tile>
        </mat-grid-list>
        </div>
      </form>
  </div>
