<h1 mat-dialog-title>PLC Master </h1>
  <div mat-dialog-content>
  <form class="example-form" [formGroup]="plcForm" (ngSubmit)="onFormSubmit(plcForm.value)">
  <div class="example-container">
    <mat-form-field class="example-full-width">
        <mat-label>Firm Name</mat-label>
        <mat-select>
          <mat-option *ngFor="let firm of firmList" [value]="firm.firmName">
            {{firm.firmName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Project Name</mat-label>
        <mat-select>
          <mat-option *ngFor="let project of projectList" [value]="project.value">
            {{project.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="PLC Name">
    </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="PLC Charges">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <mat-label>Charging Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let chargingType of chargingTypeList" [value]="chargingType.value">
            {{chargingType.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-grid-list cols="3" rowHeight="10em">
          <mat-grid-tile>
            <button type="button" mat-raised-button color="primary" [disabled]="!plcForm.dirty || !plcForm.valid" (click)="submitForm();">Submit</button>
          </mat-grid-tile>
          <mat-grid-tile>  
            <button mat-raised-button color="warn" type="reset">Clear</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button type="button" mat-raised-button color="accent" (click)="closePopup();">Close</button>
          </mat-grid-tile>
      </mat-grid-list>
</div>
</form>

  </div>