<mat-accordion class="mat-drawer-containe">

  <form (ngSubmit)="onFormSubmit(bookingForm.value)" [formGroup]="bookingForm">
    <fieldset formGroupName="customerDetails">
      <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header style="background-color:#5c6bc0;color : #ffffff">
          <mat-panel-title style="color : #ffffff">
            Personal Details
          </mat-panel-title>
          <mat-icon>account_circle</mat-icon>
        </mat-expansion-panel-header>
        <mat-grid-list cols="2" rowHeight="4em">
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Customer Name" formControlName="customerName"
                     [(ngModel)]="booking.customerDetails.customerName">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Relation</mat-label>
              <mat-select formControlName="relationType" [(ngModel)] = "booking.relationType">
                <mat-option value="Spouse">
                  Spouse
                </mat-option>
                <mat-option value="Father">
                  Father
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder = "Name" formControlName="relativeName" [(ngModel)]="booking.relativeName">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="address"
                     [(ngModel)]="booking.customerDetails.address">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="State" formControlName="state" [(ngModel)]="booking.customerDetails.state">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="City" formControlName="city" [(ngModel)]="booking.customerDetails.city">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Zip Code" formControlName="pinCode"
                     [(ngModel)]="booking.customerDetails.pinCode">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Phone No" formControlName="phoneNo"
                     [(ngModel)]="booking.customerDetails.phoneNo">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Email Id" formControlName="emailId"
                     [(ngModel)]="booking.customerDetails.emailId">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="PAN" formControlName="panNumber"
                     [(ngModel)]="booking.customerDetails.panNumber">
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Occupation" formControlName="occupation"
                     [(ngModel)]="booking.customerDetails.occupation">
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile>
            <mat-form-field>
              <input matInput [matDatepicker]="dateOfBirth" formControlName = "dateOfBirth"  placeholder="Date of Birth"  [(ngModel)]="booking.customerDetails.dateOfBirth">
              <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
              <mat-datepicker #dateOfBirth></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>

        <mat-action-row>
          <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </fieldset>
    <fieldset>
      <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header style="background-color:#5c6bc0; color : #ffffff">
          <mat-panel-title style="color : #ffffff">
            CoApplicant
          </mat-panel-title>

        </mat-expansion-panel-header>
        <div formArrayName="coApplicantDetails">
          <button style="margin-top:5px; margin-bottom:5px;" type="button" mat-raised-button color="primary"
                  (click)="addNewCoApplicant()">
            Add New CoApplicant
          </button>
          <div *ngFor="let coApplicant of coApplicantDetailsForm.controls; let i=index;">
            <div class="panel-heading">
              <span color="primary">CoApplicant {{i + 1}}</span>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <mat-grid-list cols="2" rowHeight="4em">
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput placeholder="CoApplicant Name" formControlName="customerName" [(ngModel)]="i.customerName">
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                  <mat-form-field>
                    <mat-label>Relation</mat-label>
                    <mat-select formControlName="relationType" [(ngModel)] = "i.relationType">
                      <mat-option value="Son">
                        Son
                      </mat-option>
                      <mat-option value="Daughter">
                        Daughter
                      </mat-option>
                      <mat-option value="Spouse">
                        Spouse
                      </mat-option>
                      <mat-option value="Father">
                        Father
                      </mat-option>
                      <mat-option value="Mother">
                        Mother
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput placeholder = "Name" formControlName="relativeName" [(ngModel)]="i.relativeName">
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput [matDatepicker]="dateOfBirth" formControlName = "dateOfBirth"  placeholder="Date of Birth"  [(ngModel)]="i.dateOfBirth">
                    <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                    <mat-datepicker #dateOfBirth></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput placeholder="Pan Number" formControlName="panNumber" [(ngModel)]="i.panNumber">
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput placeholder="Adhaar Number" formControlName="adhaarNo" [(ngModel)]="i.adhaarNo">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
        <mat-action-row>
          <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-raised-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </fieldset>
    <fieldset>
      <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header style="background-color:#5c6bc0;color : #ffffff">
          <mat-panel-title style="color : #ffffff">
            Booking Details
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-grid-list cols="2" rowHeight="4em">
          <mat-grid-tile>
            <mat-radio-group placeholder ="Payment Plan" [(ngModel)]="booking.bookingType"  #radioGroup="matRadioGroup" formControlName = "bookingType">
              <mat-radio-button value="Traditional" radioGroup="matRadioGroup">Traditional</mat-radio-button>
              <mat-radio-button value="MLM" radioGroup="matRadioGroup">MLM</mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Receipt Number"  formControlName="receiptNo" [(ngModel)]="booking.receiptNo">
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile>
            <mat-form-field>
              <input matInput  formControlName="bookingDate" [matDatepicker]="bookingDate"  placeholder="Booking Date" [(ngModel)] = "booking.bookingDate">
              <mat-datepicker-toggle matSuffix [for]="bookingDate"></mat-datepicker-toggle>
              <mat-datepicker #bookingDate></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Payment Plan</mat-label>
              <mat-select formControlName="paymentType" [(ngModel)] = "booking.paymentType">
                <mat-option value="Installment">
                  Installment
                </mat-option>
                <mat-option value="DownPayment">
                  Down Payment
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Firm Name</mat-label>
              <mat-select formControlName="firmId" (ngModelChange)="onChange($event,'property')" [(ngModel)] = "booking.firmId">
                <mat-option *ngFor="let firm of firmList" [value]="firm.code+'|'+firm.value">
                  {{firm.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Project Name</mat-label>
              <mat-select formControlName="projectId" (ngModelChange)="onChange($event,'block')" [(ngModel)]="booking.projectId" >
                <mat-option *ngFor="let prop of propertyList" [value]="prop.code+'|'+prop.value">
                  {{prop.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Block Name</mat-label>
              <mat-select formControlName="blockId" (ngModelChange)="onChange($event,'availablePlot')" [(ngModel)]="booking.blockId">
                <mat-option *ngFor="let block of blockList" [value]="block.code+'|'+block.value">
                  {{block.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Plot Number</mat-label>
              <mat-select formControlName="plotNumber"  (ngModelChange)="onChange($event,'plotdetails')" [(ngModel)]="booking.plotNumber">
                <mat-option *ngFor="let plotNo of plotNumberList" [value]="plotNo.code+'|'+plotNo.value">
                  {{plotNo.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Plot Size"  formControlName="plotSize" [(ngModel)]="booking.plotSize">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Sqft Rate"  formControlName="sqftRate" [(ngModel)]="booking.sqftRate">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="PLC Charges"  formControlName="plcCharges" [(ngModel)]="booking.plcCharges">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-radio-group  [(ngModel)]="booking.plcChargesType"   #radioGroup="matRadioGroup" formControlName = "plcChargesType">
              <mat-radio-button value="Percent" radioGroup="matRadioGroup">Percent</mat-radio-button>
              <mat-radio-button value="Fixed" radioGroup="matRadioGroup">Fixed</mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input matInput placeholder="Base Selling Price" formControlName="baseSellingPrice" [(ngModel)]="booking.baseSellingPrice">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile *ngIf = "booking.bookingType == 'Traditional'">
            <mat-form-field>
              <input matInput placeholder="Discount" formControlName="discount" [(ngModel)]="booking.discount" (blur)="updateDiscount()">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile *ngIf = "booking.bookingType == 'Traditional'">
            <mat-radio-group  [(ngModel)]="booking.discountType"     #radioGroup="matRadioGroup" formControlName = "discountType">
              <mat-radio-button value="Percent" radioGroup="matRadioGroup" (change)="applyDiscount($event)">Percent</mat-radio-button>
              <mat-radio-button value="Fixed" radioGroup="matRadioGroup" (change)="applyDiscount($event)">Fixed</mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <input type = number matInput placeholder="Total Amount" formControlName="totalAmount" [(ngModel)]="booking.totalAmount">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile >
            <mat-form-field class="example-full-width">
              <input #agentInput (keyup)="0" matInput placeholder="Agent" aria-label="Agent" [matAutocomplete]="auto" [formControl]="agentCtrl" formControlName="agentId" [(ngModel)]="booking.agentId">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option (onSelectionChange)="agentInput.value !=undefined && onEnter($event)" *ngFor="let agent of filteredAgent | async" [value]="agent.id+'|'+agent.agentName">
                  <span>{{ agent.agentName }}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile >
            <mat-form-field>
              <input type = number matInput placeholder="Booking Amount" formControlName="bookingAmount" [(ngModel)]="booking.bookingAmount" (blur)="calculateInstallment()">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile *ngIf = "booking.paymentType == 'Installment'">
            <mat-form-field >
              <mat-label>Number of Installment</mat-label>
              <mat-select formControlName="numberOfInstallment" (ngModelChange)="reCalculateInstallment($event)" [(ngModel)] = "booking.numberOfInstallment">
                <mat-option value="12">
                  12
                </mat-option>
                <mat-option value="24">
                  24
                </mat-option>
                <mat-option value="36">
                  36
                </mat-option>
                <mat-option value="48">
                  48
                </mat-option>

              </mat-select>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile *ngIf = "booking.paymentType == 'Installment'">
            <mat-form-field>
              <input matInput [matDatepicker]="installmentStartDate" placeholder="Installment start Date">
              <mat-datepicker-toggle matSuffix [for]="installmentStartDate"></mat-datepicker-toggle>
              <mat-datepicker #installmentStartDate></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile *ngIf = "booking.paymentType == 'Installment'">
            <mat-form-field>
              <input matInput placeholder="Installment Amount" formControlName="installmentAmount" [(ngModel)]="booking.installmentAmount">
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field>
              <mat-label>Payment Mode</mat-label>
              <mat-select formControlName="paymentMode" [(ngModel)] = "booking.paymentMode">
                <mat-option value ="Cash">
                  Cash
                </mat-option>
                <mat-option value ="DD">
                  DD
                </mat-option>
                <mat-option value ="Cheque">
                  Cheque
                </mat-option>
                <mat-option value ="NEFT">
                  NEFT/RTGS
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf = "booking.paymentMode == 'Cheque' || booking.paymentMode == 'DD' || booking.paymentMode == 'NEFT'">
            <mat-form-field>
              <input  matInput placeholder="Bank" formControlName="bank" [(ngModel)]="booking.bank">
            </mat-form-field>
          </mat-grid-tile>


          <mat-grid-tile *ngIf = "booking.paymentMode == 'Cheque' || booking.paymentMode == 'DD' || booking.paymentMode == 'NEFT'">
            <mat-form-field>
              <input  matInput placeholder="TransactionId" formControlName="transactionId" [(ngModel)]="booking.transactionId">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf = "booking.paymentMode == 'Cheque' || booking.paymentMode == 'DD' || booking.paymentMode == 'NEFT'">
            <mat-form-field>
              <input matInput  formControlName="transactionDate" [matDatepicker]="transactionDate"  placeholder="Transaction Date" [(ngModel)] = "booking.transactionDate">
              <mat-datepicker-toggle matSuffix [for]="transactionDate"></mat-datepicker-toggle>
              <mat-datepicker #transactionDate></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

        </mat-grid-list>


        <mat-action-row>
          <button mat-raised-button color="warn" (click)="prevStep()">Previous</button>
        </mat-action-row>
      </mat-expansion-panel>
    </fieldset>


    <mat-grid-list cols="3" rowHeight="10em">
      <mat-grid-tile>
        <button type="button" mat-raised-button color="primary"
                [disabled]="!bookingForm.dirty || !bookingForm.valid" (click)="submitForm();">
          Submit
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="warn" type="reset">Clear</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button type="button" mat-raised-button color="accent" (click)="closePopup();">Close</button>
      </mat-grid-tile>
    </mat-grid-list>

  </form>
</mat-accordion>
