<mat-card>
  <button mat-raised-button (click)="openDialog()"color="primary" >Add New Entry</button>

  <div mat-dialog-content>
    <form (ngSubmit)="onFormSubmit(reportForm.value)" [formGroup]="reportForm">
      <div class="example-container">
        <mat-form-field class="example-full-width">
          <input #agentInput (keyup)="0" matInput placeholder="Agent" aria-label="Agent"  [matAutocomplete]="auto" [formControl]="agentCtrl"  formControlName="agentId" [(ngModel)]="reportForm.agentId">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="agentInput.value !=undefined" *ngFor="let agent of filteredAgent | async" [value]="agent.id+'|'+agent.agentName">
              <span>{{ agent.agentName }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-grid-list cols="3" rowHeight="5em">
          <mat-grid-tile>
            <button type="submit" mat-raised-button color="primary">Search</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-raised-button color="warn" type="reset">Reset</button>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

    </form>

  </div>
</mat-card>
