<h4 mat-dialog-title>Associate Payment Details</h4>
  <div mat-dialog-content>
      <form class="example-form"[formGroup]="associatePaymentDetailsForm" (ngSubmit)="onFormSubmit(associatePaymentDetailsForm.value)">
      <div class="example-container">

        <mat-form-field class="example-full-width">
          <input #agentInput (keyup)="0" matInput placeholder="Agent" aria-label="Agent" [matAutocomplete]="auto" [formControl]="agentCtrl" formControlName="agentId" [(ngModel)]="assocaitePayment.agentId">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option (onSelectionChange)="agentInput.value !=undefined && onEnter($event)" *ngFor="let agent of filteredAgent | async" [value]="agent.id+'|'+agent.agentName">
              <span>{{ agent.agentName }}</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Total Amount" formControlName="totalAmount" [(ngModel)]="assocaitePayment.totalAmount">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Paid Amount " formControlName="paidAmt" [(ngModel)]="assocaitePayment.paidAmount">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Due Amount " formControlName="dueAmount" [(ngModel)]="assocaitePayment.dueAmount">
        </mat-form-field>


        <mat-form-field class="example-full-width">
              <input matInput placeholder="Payment" formControlName="paymentAmount" [(ngModel)]="assocaitePayment.paymentAmount">
          </mat-form-field>
          <mat-error>  
              <span *ngIf="!associatePaymentDetailsForm.get('paymentAmount').valid && associatePaymentDetailsForm.get('paymentAmount').touched">Please enter Amount</span>
          </mat-error>

          <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="picker" placeholder="Payment Date" formControlName="paymentDate" [(ngModel)]="assocaitePayment.paymentDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-label>Payment Mode</mat-label>
              <mat-select formControlName="mode" [(ngModel)]="assocaitePayment.paymentMode">
                  <mat-option value="Cheque">Cheque</mat-option>
                  <mat-option value="Cash">Cash</mat-option>
                  <mat-option value="DD">DD</mat-option>
                  <mat-option value="NEFT">RTGS/NEFT</mat-option>
                </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width"  *ngIf = "assocaitePayment.paymentMode == 'Cheque' || assocaitePayment.paymentMode == 'DD' || assocaitePayment.paymentMode == 'NEFT'">
          <mat-label>Bank Name</mat-label>
          <mat-select formControlName="bankName" [(ngModel)]="assocaitePayment.bankName">
            <mat-option *ngFor="let bank of bankList" [value]="bank.code+''+bank.value">
              {{bank.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field class="example-full-width"  *ngIf = "assocaitePayment.paymentMode == 'Cheque' || assocaitePayment.paymentMode == 'DD' || assocaitePayment.paymentMode == 'NEFT'">
          <input matInput placeholder="Cheque No/Transaction Id/DD No" formControlName="transactionId" [(ngModel)]="assocaitePayment.transactionId">
      </mat-form-field>

      <mat-form-field class="example-full-width"  *ngIf = "assocaitePayment.paymentMode == 'Cheque' || assocaitePayment.paymentMode == 'DD' || assocaitePayment.paymentMode == 'NEFT'">
          <input matInput [matDatepicker]="picker1" placeholder="Cheque Date/Transaction Date/DD Date" formControlName="transactionDate" [(ngModel)]="assocaitePayment.transactionDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>



        <mat-grid-list cols="3" rowHeight="10em">
            <mat-grid-tile>
              <button type="submit" mat-raised-button color="primary" [disabled]="!associatePaymentDetailsForm.dirty || !associatePaymentDetailsForm.valid">Submit</button>
            </mat-grid-tile>
            <mat-grid-tile>  
              <button mat-raised-button color="warn" type="reset">Clear</button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button type="button" mat-raised-button color="accent" (click)="closePopup();">Close</button>
            </mat-grid-tile>
        </mat-grid-list>
        </div>
      </form>
  </div>
