<h4 mat-dialog-title> Farmer Payment Details </h4>
  <div mat-dialog-content>
      <form class="example-form"[formGroup]="farmerPaymentDetailsForm" (ngSubmit)="onFormSubmit(farmerPaymentDetailsForm.value)">
      <div class="example-container">
        <mat-form-field class="example-full-width">
          <mat-label>Khasra number</mat-label>
          <mat-select [(ngModel)]= "farmerPayment.landId" formControlName="landId" (ngModelChange)="onChange($event,'farmer')">
            <mat-option *ngFor="let land of landList" [value]="land.id">
              {{land.khasraNumber}}
            </mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-label>Farmer Name</mat-label>
              <mat-select [(ngModel)]="farmerPayment.farmerId" formControlName="farmerName" (ngModelChange)="onFarmerChange($event)">
                <mat-option *ngFor="let farmer of farmerList" [value]="farmer.code+'|'+farmer.value">
                  {{farmer.value}}
                </mat-option>
              </mat-select>
          </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Land Amount" formControlName="landAmount" [(ngModel)]="farmerPayment.landAmount">
        </mat-form-field>

        <mat-form-field class="example-full-width">
        <input matInput placeholder="Total Paid Amount - Land" formControlName="paidAmount" [(ngModel)]="farmerPayment.paidAmount">
      </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Total Paid Amount - Farmer" formControlName="farmerPaidAmount" [(ngModel)]="farmerPayment.farmerPaidAmount">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Amount" formControlName="paymentAmt" [(ngModel)]="farmerPayment.paymentAmount">
        </mat-form-field>
        <mat-error>
          <span *ngIf="!farmerPaymentDetailsForm.get('paymentAmt').valid && farmerPaymentDetailsForm.get('paymentAmt').touched">Please enter Amount</span>
        </mat-error>

        <mat-form-field class="example-full-width">
          <input matInput [matDatepicker]="picker" placeholder="Payment Date" formControlName="paymentDate" [(ngModel)]="farmerPayment.paymentDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Payment Mode</mat-label>
          <mat-select formControlName="paymentMode" [(ngModel)]="farmerPayment.paymentMode">
            <mat-option value="Cheque">Cheque</mat-option>
            <mat-option value="Cash">Cash</mat-option>
            <mat-option value="DD">DD</mat-option>
            <mat-option value="NEFT">RTGS/NEFT</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf = "farmerPayment.paymentMode == 'Cheque' || farmerPayment.paymentMode == 'DD' || farmerPayment.paymentMode == 'NEFT'">
          <mat-label>Bank Name</mat-label>
          <mat-select [(ngModel)]= "farmerPayment.bankName" formControlName="bankDetail">
            <mat-option *ngFor="let bank of bankList" [value]="bank.code+''+bank.value">
              {{bank.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf = "farmerPayment.paymentMode == 'Cheque' || farmerPayment.paymentMode == 'DD' || farmerPayment.paymentMode == 'NEFT'">
          <input matInput placeholder="Cheque No/DD no./trans Id " formControlName="transId" [(ngModel)]="farmerPayment.transactionId">
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf = "farmerPayment.paymentMode == 'Cheque' || farmerPayment.paymentMode == 'DD' || farmerPayment.paymentMode == 'NEFT'">
          <input matInput [matDatepicker]="picker" placeholder="Transaction Date" formControlName="transactionDate" [(ngModel)]="farmerPayment.transactionDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-grid-list cols="3" rowHeight="10em">
            <mat-grid-tile>
              <button type="button" mat-raised-button color="primary" [disabled]="!farmerPaymentDetailsForm.dirty || !farmerPaymentDetailsForm.valid" (click)="submitForm();">Submit</button>
            </mat-grid-tile>
            <mat-grid-tile>  
              <button mat-raised-button color="warn" type="reset">Clear</button>
            </mat-grid-tile>
            <mat-grid-tile>
              <button type="button" mat-raised-button color="accent" (click)="closePopup();">Close</button>
            </mat-grid-tile>
        </mat-grid-list>
        </div>
      </form>
  </div>
