<mat-card>
<button mat-raised-button (click)="openDialog()" color="primary">Add Bank</button>
</mat-card>
<mat-card>
    <div class="example-container mat-elevation-z8">  
        <mat-table #Table [dataSource]="bankDataSource" matSort>
            <!-- For ID -->  
            <ng-container matColumnDef="id" sticky>  
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>  
                <mat-cell *matCellDef="let bank"> {{bank.id}} </mat-cell>  
            </ng-container>  
    
            <!-- For Bank name -->  
            <ng-container matColumnDef="bankName" sticky>  
                <mat-header-cell *matHeaderCellDef mat-sort-header> Bank Name </mat-header-cell>
                <mat-cell *matCellDef="let bank"> {{bank.bankName}} </mat-cell>  
            </ng-container>
            <ng-container matColumnDef="branch" sticky>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Branch </mat-header-cell>
                <mat-cell *matCellDef="let bank"> {{bank.branch}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="accountNumber" sticky>
                <mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </mat-header-cell>
                <mat-cell *matCellDef="let bank"> {{bank.accountNumber}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ifscCode" sticky>
                <mat-header-cell *matHeaderCellDef mat-sort-header> IFSC Code </mat-header-cell>
                <mat-cell *matCellDef="let bank"> {{bank.ifscCode}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions" sticky>  
                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>  
                <mat-cell *matCellDef="let bank"> 
                  <button mat-raised-button color="primary"
                    matTooltip="Edit Bank"
                    (click)="editBankDetails(bank.id)">
                    <i class="material-icons">create</i>
                  </button>
    
                  <button mat-raised-button color="warn" 
                    matTooltip="Delete Bank"
                    style="margin-left: 10px"
                    (click)="openConfirmDeleteDialog(bank.id)">
                    <i class="material-icons">delete</i>
                  </button>
                </mat-cell>  
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
        </mat-table>  
    
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]">  
        </mat-paginator> 
    </div>
    </mat-card>
       
    